.navbar{
    display: flex;
    border: 2px solid black;
    width: 100%;
    height:54px;
    border-radius: 20px;
    align-self: center;
}
body{
    background-color: lightgray
}
.logo{
    border: 2px solid black;
    
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: lightgray;
}
.logo img{
    width: 75px;
    display: flex;
    margin-top: -10px;
   
}
.navitems{

    display: flex;
    letter-spacing: 1px;
    justify-content: center;
    align-items: center;
    justify-items: center;
  margin-left: 21px;
    gap: 259px;
    

}
.navitems a{
   padding: 50px;
   padding-top: 1000px;
   border-radius: 200px;
}
.drop select{
    margin-right: 11px;
}
.navitems div{
    border: 2px solid black;
}